[submodule "Afterglow/vendor/spdlog"]
	path = Afterglow/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Afterglow/vendor/glfw"]
	path = Afterglow/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Afterglow/vendor/imgui"]
	path = Afterglow/vendor/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
